<?xml version="1.0" encoding="utf-8"?>
<!--
/* ======================================================================
 *  Copyright 2014 Qualcomm Technologies, Inc. All Rights Reserved.
 *  QTI Proprietary and Confidential.
 *  =====================================================================
 * @file    AndroidManifest.xml
 *
 */-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recognition.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <activity
            android:name="recognition.robot.FacialRecognitionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="recognition.robot.AddPhoto"
            android:label="@string/title_activity_add_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="recognition.robot.ImageConfirmation"
            android:label="@string/title_activity_image_confirmation" >
        </activity>
        <activity
            android:name="recognition.robot.ChooseUser"
            android:label="@string/title_activity_choose_user" >
        </activity>
        <activity
            android:name="recognition.robot.LiveRecognition"
            android:label="@string/title_activity_live_recognition"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name="recognition.robot.BT_Controls" android:screenOrientation="portrait"/>
        <activity android:name="recognition.robot.BT_Main"
            android:label="@string/app_name" android:screenOrientation="portrait"/>

        <activity android:name="recognition.robot.NetSettings" android:screenOrientation="portrait"/>

    </application>

</manifest>
